streamlit
sentence-transformers==2.2.2
transformers==4.30.2
scikit-learn==1.2.2
pandas==2.0.3
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2
PyPDF2==3.0.1
torch==2.0.1

# SpaCy + deps
spacy==3.7.2
blis==0.7.9
spacy[transformers]

# SpaCy models
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
