--extra-index-url https://download.pytorch.org/whl/cpu

spacy==3.7.2
sentence-transformers==2.2.2
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
streamlit
PyPDF2
python-docx
